@media(max-width: 500px){
    #navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        
    }
    #navbar .logo{
        margin-bottom: 0.5rem;
        text-align: center;
    }
    #navbar ul {
        
        justify-content: center;
        align-content: center;
        width: 100%;
        margin: 15px auto;
        padding-bottom: 0.5rem;
        
        
    }

  
    #showcase .showcase-content{
        top: 110px;
        
    }
    #about {
        display: block;
    }
    #about .about-img{
        display: none;
    }
    #what  .items {
        display: inline;
    }

    #testimonials  .items {
        display: inline;
       

    }

    .projects-container{
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        
    }
    
    #contact{
        width: 100%;
        flex-direction: column;
    }

    .projects-container{
        display: inline;
    }


    #contact .form .btn{
        width: 4rem;
        align-content: center;
    }
    
}


@media(max-height:568px){
    .l-heading{
        font-size: 3rem;
    }
    .lead{
        font-size: 1rem;
    }
    #showcase .showcase-content{
        margin-top: -2rem;
        top: 140px;
    }
       .moment{
       justify-content: center;
       width: 100%;
       flex-direction: column;
       align-items: center;
   }

   .menu-wrap .menu{
       position: fixed;
       width: 100%;
   }

}
@media screen and (max-width:500){
    .footer-container{
        max-width: 100%;
        display: inline-block;
        padding: 0.5rem;
    }
    .right-col{
        width: 100%;
        margin-bottom: 60px;
        justify-content: center;
        align-content: center;
        
    }
    .left-col{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:500px){
    .btnn{
        margin:0;
        width: 100%;
        margin-top: 20px;
        padding: 0.5rem;
        
    }
}