@media(max-width: 500px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }
    #navbar .log{
        margin-bottom: 1rem;
        text-align: center;
    }
    #navbar ul{
        padding: 0.5rem;
    }

    #showcase .showcase-content{
        top: 110px;
    }
}



