#navbar .logo{
    float: none;
    text-align: center;
}
#navbar ul, #navbar ul li{
    float: none;
}
#navbar ul li a {
    padding: 5px;
   flex: none;
}
#showCase .showcase-content{
    color: #fff;
    width: 100%;
}
#showcase .showcase-content h1{
    width: 100%;

}
#showcase .showcase-content p{
    float: none;
    width: 100%;
}

/*------About-----*/


.text-cont p:nth-child(1){
    font-family:calibri;
    font-weight: bold;
    color: #fff;
    font-size: 22px;
    float: none;
}
.text-cont p:nth-child(2){
     font-family: calibri;
     font-weight: bold;
    width: 100%;
     float: none;
}
.text-cont p:nth-child(3){
    font-family: myriad pro regular;
    width: 100%;
    float: none;
}
.text-cont p{
    width: 100%;
   float: none
}
.text-cont {
    
    width: 100%;
    float: none;
}
.about-cont{
    width: 100%;
    float: none;
  
    
    justify-content: space-evenly;
    align-items: center;
    
}
.about-cont img{
    width: 100%;
    float: none;
}
.about-text{
    width: 100%;
    
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
   width: 100%;
   float: none;
}
.about-text p:nth-child(2){
    color:#3e3d3d;
    font-size: 17px;
    font-family: myriad pro;
    width: 100%;
   float: none;
    
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color:#7e7d7d;
    font-family:calibri;
    font-size:16px ;
    float: none;
    width: 100%;
}
section{
  color: #fff;
}
#about-info .info-right{
   
    width: 100%;
    float: none;
}
#about-info .info-right img{
   
    width: 100%;
}
#about-info .info-left{
    float: none;
    widows: 100%;
    
}

/*---------Contact Page--------*/

.contact-box{
    width: 100%; 
    float: none;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    
  
  }
  .left{
      width: 100%;
      background-size: cover;
  } 
  
  .right{
      width: 100%;
      float: none;
  }
  
  
  .field{
      width: 100%;
      padding: 0.5rem 1rem;
      background-color: rgba(230,230,230, 0.6);
      font-size: 1.1rem;
      margin-bottom: 22px;
      transition: .3s;
  }
  .field:hover{
      background-color: #fff;
      border: 2px solid rgba(30, 85, 250, 0.47);
  }
  .area{
      width: 100%;
  }
  
  .btn{
      width: 13rem;
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      background:#62a30e;
      cursor: pointer;
      outline: none;
      border: none;
      color: #fff;
      transition: .3%;
  }
  
  .btn:hover{
      background-color: #ae27a3;
  }
  @media screen and (max-width:880px){
      .contact-box{
          grid-template-columns: 1fr;
      }
      .left{
          height: 200px;
      }
  }
  
  /*------Potfolio.....*/
  /* Utility Classes */
  .container{
      
      width: 100%;
      float: none;
  }
  .text-primary{
      color:rgb(8, 51, 12);
  }
  
  .text-center{
      text-align: center;
  }
  
  .lead{
      font-size: 20px;
  }
  .box-area h2{
      color: white;
      float: none;
      width: 100%;
  }
   
  .projects-container {
     display: inline;
      padding: 2%;
      justify-content: space-around;
      background-color: white;
     
  }
  
  .projects-container h2 {
      color: #403e3e;
  }
  
  .project-image-contaner {
      width: 100vw;
  }
  
  .project-image-contaner img {
      width: 100vw;
  }
  .copy-copyright-container{
      text-align: center;
      padding-bottom: 20px;
  }

 /*--------Footer------*/
footer{
    color: rgb(253, 247, 247);
    
}
.main-content{
 width: 100vw;
}
.main-content .box{
   float: none;
    padding: 10px 20px;
    width: 100vw;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
    float: none;
    width:100vw;
}



.left .content .social{
    margin: 20px 0 0 0;
   float: none;
}
.left .content .social a{
    padding: 0 2px;
    display: flex;
}
.left .content .social a span{
    width: 100vw;   
    /* line-height: 40px; */
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
}
.left .content .social a span:hover{
    background: #beb5be;
    color: #111;
}
.email{
    background: #111;
}
