
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    background-color: rgb(24, 24, 26);
}

a{
    color: #ffffff;
    text-decoration: none;
}
p{
    margin: 10px 0;
}


.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #d3f124a1;
    padding: 13px 20px;
    border: none;
    cursor: pointer;   
}
.btn:hover{
    background:#fff;
    color:#7e7d7d
}
#navbar{
    background:  rgb(32, 32, 30);
    color: #fff;
    height: 70px;
}
#navbar a{
    color: #fff;
}

#navbar h1{
    float: left;
    padding-top: 20px;
    padding-left: 30px;
}

#navbar ul{
    list-style: none;
    float: right;
    display: flex;
}

#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding:20px;
    text-align: center;
}
#navbar ul li a:hover, #navbar ul li a.current{
    background: rgb(102, 122, 10);
    color:#ddd;
    margin: 10px;
    padding: 10px;

}

/* Showcase*/

#showCase{
    background: url('img-2.jpg') no-repeat center center/cover;
    height: 600px;

}
#showCase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}
#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;

}
#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}


li, a, button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}




button{
    margin-left: 20px;
    padding: 9px 25px;
    background:rgb(102, 97, 69);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover{
    background: rgba(17, 17, 16, 0.8);
    color: #7e7d7d
}




/*-------Services*/
 .box-area{
     display:flex;
     /* flex-wrap: wrap; */
     justify-content: center;
     align-items: center;
     margin-bottom: 10%;
 }
 .single-box{
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 24rem;
     height: auto;
     border-radius: 4px;
     background-color: #fff;
     text-align: center;
     margin: 20px;
     padding: 20px;
     transition: .3s;
 }
.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 6px solid #ddd;
    border-radius:500%;
    margin-bottom: 10px;
    padding:20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.single-box:nth-child(1) .img-area{
    background-image: url('web-1.jpg');

}
.single-box:nth-child(2) .img-area{
    background-image: url('ui-1.jpg');

}
.single-box:nth-child(3) .img-area{
    background-image: url('dg-1.jpg');

}
.header-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}
.img-text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.single-box:hover{
    background: #df0d72;
    color: #fff;
}

/*--------Footer------*/
footer{
    color: rgb(253, 247, 247);
    
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}



.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #beb5be;
    color: #111;
}
.email{
    background: #111;
}

/*------About------*/
.text-cont p:nth-child(1){
    font-family:calibri;
    font-weight: bold;
    color: #fff;
    font-size: 22px;
}
.text-cont p:nth-child(2){
     font-family: calibri;
     font-weight: bold;
     letter-spacing: 1px;
     color: #edf0f1;
     font-size:60px;
}
.text-cont p:nth-child(3){
    font-family: myriad pro regular;
    color: #edf0f1;
    font-size: 30px;
    line-height: 30px;
}
.text-cont p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-cont {
    
    left:50%;
    padding-left: 50px;
    top:42%;
    transform:translate(-13%,-42);
}
.about-cont{
    width: 80%;
    height: 300px;
    background-color: #ffffff;
    border-radius:20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:5% auto 20px auto;
    margin-bottom: 10%;
    justify-content: space-evenly;
    align-items: center;
    
}
.about-cont img{
    height: 300px;
    border-radius: 10px;
}
.about-text{
    width: 550px;
    
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 27px;
    line-height: 0px;
    padding-bottom: 10px;
}
.about-text p:nth-child(2){
    color:#3e3d3d;
    font-size: 17px;
    font-family: myriad pro;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color:#7e7d7d;
    font-family:calibri;
    font-size:16px ;
}
section{
  color: #fff;
}
#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}
#about-info .info-right img{
    display: block;
    margin: auto;
    width: 70%;
}
#about-info .info-left{
    float: left;
    width:50%;
    min-height: 100%;
}

/*---------Contact Page--------*/

.contact-box{
  max-width: 850px;  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  

}
.left{
    height: 100%;
    background-size: cover;
} 

.right{
    padding: 25px 40px;
}


.field{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(230,230,230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.area{
    min-height: 150px;
}

.btn{
    width: 13rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background:#62a30e;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3%;
}

.btn:hover{
    background-color: #273823;
    color: #fff;
}
@media screen and (max-width:880px){
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
}

/*------Potfolio.....*/
/* Utility Classes */
.container{
    margin:auto;
    max-width: 1100px;
    overflow:hidden;
    padding: 0 2rem
}
.text-primary{
    color:rgb(8, 51, 12);
}

.text-center{
    text-align: center;
}

.lead{
    font-size: 20px;
}
.box-area h2{
    color: white;
    position: center;
    align-items: center;
    top:-40px;
    padding-right: 40px;
}
 
.projects-container {
    display: flex;
    padding: 2%;
    justify-content: space-around;
    background-color: white;
   
}

.projects-container h2 {
    color: red;
}

.project-image-contaner {
    width: 90%;
}

.project-image-contaner img {
    width: 100%;
}
.copy-copyright-container{
    text-align: center;
    padding-bottom: 20px;
}