:root{
    --primary-color: rgba(13, 110, 139, 1);
    --secondary-color: rgba(220, 140, 0, 0.75);
    --overlay-color: rgba(24,39, 51, 0.85);
    --menu-speed:0.75;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

#showcase{
    background: var(--primary-color);
    color:rgb(165, 158, 158);
    height: 100vh;
    position: relative;
    opacity: all 5s ease;
    content:'';
    bottom: 50%;
}
#showcase:before{
    content:'';
    background: url('city-1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
#showcase .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    

}
#showcase h1{
    font-size: 4rem;
    z-index: -1;
}

#showcase p{
    font-size: 1.3rem;
}


.btn{
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: rgb(17, 53, 14);
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: all 1s ease-in-out;
    text-decoration: none;
}

.btn:hover{
    /* opacity: 0.7; */
}




a{
    text-decoration: none;
}
p{
    margin: 0.75rem;
}

/* Utility classes */
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center{
    text-align: center;
}



.text-primary{
    color: #59750a;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    color: #333;
    background: #ffff;
}
    
.bg-primary{
    background: #2d2e2c;
    color: #fff;
}   



.l-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}


.show{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}


.py-1{ padding: 1.5rem 0;}
.py-2{ padding: 2rem 0;}
.py-3{
     padding: 3rem 0;
     color: #fff;
    }


.p-1{ padding: 1.5rem;}
.p-2{ padding: 2rem;}
.p-3{ padding: 3rem;}

.btn{
   display: inline-block;
   color: #fff;
   background: #93cb52;
   padding: 0.5rem 2rem;
   border: none;
   border-radius: 5px;
   transition: all ls ease-in-out ; 
}
.btn:hover{
    background: #3d581e;
}

.btn-dark{
    background:#333;
    color: #fff;
}


/*------Navbar----*/
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background:#333;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    align-content: center;
    padding:1rem;
    
    

}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    list-style: none;
}

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;

}

#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}



/* Section: WHat I Do*/
#what .items{
    display: flex;
    padding: 1rem;
}
#what .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items .item i{
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
}

/* Testimonials */
#testimonials .items{
    display: flex;
    padding: 1rem;
    width: 1.5rem;
    
  
}
#testimonials .item{
    flex: 1;
    text-align: center;
    
    
}

#testimonials .items .item i{
    background: #93cb52;
    padding: 1rem;
    
}
#testimonials .items .item img{
    padding: 0.5rem;
    width: 25vw;
    align-items: center;
    border-radius: 50%;}


/* Section: About Me---*/

#about{
    display: flex;
    
}

#about div{
    flex: 1;
}

#about .about-img{
    background: url('pro-2.jpeg');
    height: 70vh;
}


/*------Potfolio.....*/




.text-center{
    text-align: center;
}

.lead{
    font-size: 20px;
}
.box-area h2{
    color: white;
    position: center;
    align-items: center;
    top:-40px;
    padding-right: 40px;
}
 
.projects-container {
    display: flex;
    padding: 4%;
    justify-content: space-between;
    background-color: white;
   
}

.projects-container h2 {
    color: #3e3d3d;
}

.project-image-contaner {
    width: 90%;
}

.project-image-contaner img {
    width: 100%;
}

.project-image-contaner img:hover {
    width: 100%;
    color: #fff;
    transition: 0.2rem;
}
.copy-copyright-container{
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (max-width:415px){
    .main-content {
        display: block;
    }
}

/*-------Section: Contact-----*/

#contact{
    display: flex;
    align-content: center;
    
    
}
#contact .map, #contact .contact-form{
    flex: 1;
}

#contact .contact-form .form-group{
    margin:0.75rem;
}

#contact .contact-form label{
    display: block;
}
#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;

}
#contact .form .btn {
    width: 10%;
    background: rgb(107, 190, 24);
    color: #fff ;
    align-content: center;
}

#contact .form .btn:hover{
background: #3d581e;
color: #fff;
}



.moment{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.moment h2{
top: 50px;
text-align: center;
}

.item2{
    padding: 3rem;
    border: #8aa056 1px solid;
    background: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}


/*----Footer------------*/
footer{
    background: #f1f1f1;
    padding: 98px 0;
    color: #3e3d3d;
}
.footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.footer-container  p{
    color: #3e3d3d;
}



.logo{
    width: 100px;
}
.social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover{
    color: #fc5c65;
}

.right-col h1{
    font-size: 26px;
    color: #3e3d3d;;
}

.border{
    width: 100px;
    height: 4px;
    background: #7e8d56;
}
.newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f1f1f1;
    color: #333;
}
.txtb{
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #454649;
    background: #ddd;
    border:none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
}

.btnn{
    padding: 10px;
    font-size: 16px;
    color: #f1f1f1;
    background: #627740;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
}
.btnn:hover{
    opacity: .7;
}


