
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    background-color: rgb(36, 36, 201);
}

a{
    color: #ffffff;
    text-decoration: none;
}
h1,h2,h3{
    padding-bottom: 5%;
}
p{
    margin: 10px 0;
}

/* Utility Classes */
.container{
    margin:auto;
    max-width: 1100px;
    overflow:auto;
    padding: 0 20px;
}

#navbar{
    background:  rgb(10, 10, 168);;
    color: #fff;
    overflow: auto;
    height: 50px;
}
#navbar a{
    color: #fff;
}

#navbar h1{
    float: left;
    padding-top: 20px;
    padding-left: 30px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding:20px;
    text-align: center;
}
#navbar ul li a:hover, #navbar ul li a.current{
    background: rgb(52, 23, 182);
    color:#ddd
}

li, a, button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}




button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color:rgb(52, 23, 182);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover{
    background-color: rgba(23, 4, 68, 0.8);
}




/*-------Services*/
 .box-area{
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin-bottom: 10%;
 }
 .single-box{
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 300px;
     height: auto;
     border-radius: 4px;
     background-color: #fff;
     text-align: center;
     margin: 20px;
     padding: 20px;
     transition: .3s;
 }
.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 6px solid #ddd;
    border-radius:500%;
    margin-bottom: 10px;
    padding:20px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.single-box:nth-child(1) .img-area{
    background-image: url('web-1.jpg');

}
.single-box:nth-child(2) .img-area{
    background-image: url('ui-1.jpg');

}
.single-box:nth-child(3) .img-area{
    background-image: url('dg-1.jpg');

}
.header-text{
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}
.img-text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.single-box:hover{
    background: #df0d72;
    color: #fff;
}

/*--------Footer------*/
footer{
    position: relative;
    bottom:0px;
    width: 100%;
    background: rgb(21, 11, 109);
    color: #fff;
    
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}

.left .content p{
    text-align: justify;
}

.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #df0d72;
}
/*------About------*/
.text-cont p:nth-child(1){
    font-family:calibri;
    font-weight: bold;
    color: #fff;
    font-size: 22px;
}
.text-cont p:nth-child(2){
     font-family: calibri;
     font-weight: bold;
     letter-spacing: 1px;
     color: #edf0f1;
     font-size:60px;
}
.text-cont p:nth-child(3){
    font-family: myriad pro regular;
    color: #edf0f1;
    font-size: 30px;
    line-height: 30px;
}
.text-cont p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-cont {
    
    left:50%;
    padding-left: 50px;
    top:42%;
    transform:translate(-13%,-42);
}
.about-cont{
    width: 80%;
    height: 300px;
    background-color: #ffffff;
    border-radius:20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:5% auto 20px auto;
    margin-bottom: 10%;
    justify-content: space-evenly;
    align-items: center;
    
}
.about-cont img{
    height: 300px;
    border-radius: 10px;
}
.about-text{
    width: 550px;
    
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}
.about-text p:nth-child(2){
    color:#3e3d3d;
    font-size: 17px;
    font-family: myriad pro;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color:#7e7d7d;
    font-family:calibri;
    font-size:16px ;
}
